<IfModule mod_rewrite.c>
  RewriteEngine On
  # If the requested file or directory does not exist...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # ...redirect all traffic to index.html so React Router can handle it.
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
